
.b-content__pic-wrap{
  text-align: center;
}

.b-content__pic{
  width: 100%;
  max-width: 300px;
  border-radius: 100%;
  margin: 25px;
}

.b-content{
  margin-top: 80px;
}


@media (max-width: 750px) {
  .b-content{
    margin-top: 10px;
  }

  .b-content__title{
    text-align: center;
  }

  .b-content__pic{
    width: 200px;
    margin: 0;
  }
}
